* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    /* adicionado */
}

.main {
    background-color: azure;
    padding: 30px;
    box-shadow: 0px 0px 10px #4e85eb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    /* adicionado */
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.header img {
    width: 300px;
}

.header span {
    font-weight: 700;
    font-size: larger;
}

.formContainer {
    /* adicionado */
    max-height: calc(45vh - 80px);
    /* ajuste conforme necessário */
    overflow-y: auto;
    /* adicionado */
}

.container form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
}

.inputContainer label {
    font-weight: 400;
    font-size: medium;
    padding: 7px;
}

.inputContainer input {
    padding: 10px;
    width: 500px;
    border: 1px solid #4e85eb;
    border-radius: 10px;
}

.divTerms {
    margin-top: 20px;
}

.termField {
    display: flex;
    
}

.inputTerms {
    width: 30px;
    margin: 8px;
}

.inputTerms:hover {
    cursor: pointer;
}

.divTerms span {
    font-size: 13px;
}

.divTerms span a {
    display: inline;
    font-size: 10px;
    color: blue;
}

.container form button {
    width: 260px;
    height: 45px;
    border: 1px solid #4e85eb;
    border-radius: 10px;
    margin: 20px 0px 10px 0px;
    background-color: rgb(166, 240, 240);
    font-weight: 600;
    font-size: 14px;
}

.container form button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}